Source: corevpn
Section: contrib
Priority: extra
Maintainer: Maciej Nabozny <mn@mnabozny.pl>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: http://cloudover.org/coredav/

Package: corevpn
Architecture: all
Depends: corecluster, openvpn, openssl
Description: VPN based networking for OverCluster-core

